<h1>勤務地の追加</h1>

<% flash.each do |key, value| %>
  <div>
    <%= value %>
  </div>
<% end %>

<%= form_for(@working_place) do |f| %>
  <%= f.label :勤務地 %>
  <%= f.text_field :place %>

  <%= f.label :時給 %>
  <%= f.number_field :wage %>

  <%= f.submit "新しい勤務地を登録する", class: "btn btn-primary" %>
<% end %>

<h4>現在登録されている勤務地の一覧</h4>

<table border="1" >
  <thead>
  <tr>
    <th>ID</th>
    <th>Place</th>
    <th>Wage</th>
  </tr>
  </thead>
  <tbody>
  <% @working_places.each do |working_place| %>
    <tr>
      <td><%= working_place.id %></td>
      <td><%= working_place.place %></td>
      <td><%= working_place.wage %></td>
    </tr>
  <% end %>
  </tbody>
</table>

