<h1>勤怠登録</h1>
<%= @user.name %>

<%= form_with(model: @time_sheet, url: check_in_path(@time_sheet), method: :post) do |form| %>
  <p><%= form.collection_select :working_place_id, WorkingPlace.all, :id, :place, prompt: "勤務地を選択してください。", class: 'form-control' %></p>
  <%= form.submit "出勤" %>
<% end %>

<%= button_to "退勤", {controller: 'time_sheets', action: 'check_out'},  {method: :patch} %>

<% if current_user.admin? %>
  <hr>
  <p>管理者メニュー</p>
  <p><%= link_to "スタッフを追加する", signup_path %></p>
  <p><%= link_to "勤務地を追加する", new_place_path %></p>
  <p><%= link_to "勤務状態一覧を表示する", index_path %></p>
<% end %>

