<h1>勤怠状況一覧</h1>

<%= form_tag @time_sheet_path, method: :get do %>
  <%= select_tag :working_place_id, options_from_collection_for_select(WorkingPlace.all, :id, :place), include_blank: true %>
  <%= submit_tag "Search" %>
<% end %>

<table border="1" >
  <thead>
  <tr>
    <th>User ID</th>
    <th>Check In</th>
    <th>Check Out</th>
    <th>Working Place ID</th>
    <th>working_min</th>
  </tr>
  </thead>
  <tbody>
  <% @time_sheets.each do |time_sheet| %>
    <tr>
      <td><%= time_sheet.user_id %></td>
      <td><%= time_sheet.check_in %></td>
      <td><%= time_sheet.check_out %></td>
      <td><%= time_sheet.working_place_id %></td>
      <td><%= time_sheet.working_min %></td>
    </tr>
  <% end %>
  </tbody>
</table>
